# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

Command Mode = blue: 
a inserts line above
b inserts line below
d deletes line

Ctrl+z outside - undoes last

Kernal: restart, run all -- works again

Think of variable as a bucket/address - holds the reference where we store memory.

In [63]:
number = 6

print(number)

6

In [64]:
my_variable = 123
print(my_variable)

123

In [65]:
my_new_var = 123.
print(type(my_new_var))

<class 'float'>

##### Assigning float

In [66]:
numberFloat = 2.3

print(numberFloat)

number_Float = 2.5

2.3

#### Performing Calculations on ints and floats

##### Addition

In [67]:
num1 = 2
num2 = 5.7

result = num1 + num2

print(result)

# Short-hand version 
result += 5 # result = result + 2
print(result)

7.7
12.7

##### Subtraction

In [68]:
result_diff = num2 - num1
print(result_diff)

# short-hand version
result_diff -= 3
print(result_diff)

3.7
0.7000000000000002

0.7 etc is repeating number in binary

round decimals at the very end before showing to user

##### Multiplication

In [69]:
result_mul = num1 * num2
print(result_mul)

#short-hand version
result_mul *= 2
print(result_mul)

11.4
22.8

In [70]:
num3 =5
num4 = 10

result_prod = num3 * num4
print(result_prod)

result_prod *= 3
print(result_prod)

50
150

##### Division

In [71]:
result_div = num2/num1
print(result_div)

#short-hand version
result_div /= 2
print(result_div)

2.85
1.425

In [72]:
result_div = num4/num3
print(result_div)

result_div /= 2
print(result_div)

2.0
1.0

##### Floor Division

In [73]:
result_floor = num2 // num1
print(result_floor)

#short-hand version
result_floor //= 2
print(result_floor)

2.0
1.0

In [74]:
result_floor = 5.5//2
print(result_floor)
print(5.5/2)

2.0
2.75

##### Modulo

In [75]:
#modulo is the remainder!

result_mod = 5%2
print(result_mod)
print(5/2)

1
2.5

In [76]:
result_mod = num2 % num1
print(result_mod)

#short-hand version
result_mod %= 2
print(result_mod)

1.7000000000000002
1.7000000000000002

In [77]:
#67 days I assume allmonth have 30 days ... how many extra days do I have with 67 days?

67%30

7

In [78]:
#Is 15 a multiple of three?
15%3

0

In [79]:
#Every 3rd box:
#if 15%3 == 0
#rint(box is red)

In [80]:
# CodeWARS Secret!
amount_seconds = 330
no_min = amount_seconds // 60
print(no_min)
seconds = amount_seconds % 60
print(seconds)

5
30

##### Exponential

In [81]:
square = 5 ** 2
print(square)

#short-hand version
x = 5
x **=2
print(x)

#short-hand version
square **= 2
print(square)

25
25
625

### String Input-Output

##### String Assignment

In [82]:
name = "Joel"
print(name)

name = 'Joel'
print(name)

Joel
Joel

In [83]:
greeting = "Welcome to class, Y'all"
print(greeting)

greeting = 'Welcome to class, Y\'all'
print(greeting)

Welcome to class, Y'all
Welcome to class, Y'all

##### print() <br>
<p>Don't forget about end=' '</p>

In [84]:
print("This is my first name: ", name)

print("Full Name: ", name, end=" Carter")

This is my first name:  Joel
Full Name:  Joel Carter

In [85]:
paragraph = '\t Welcome to our class! \n This is Intro to Python \n I hope you have fun!'
print(paragraph)

	 Welcome to our class!
 This is Intro to Python
 I hope you have fun!

In [86]:
multiline= '''
Hey, 
look at this
wild   and crazy   string
that is a lot of 
odd and     zany lines!
'''

print(multiline)



multiline= """
Hey, 
look at this!

It is just as 
wild   and crazy!

This long     string   works, too!
"""

print(multiline)

Hey,
look at this
wild   and crazy   string
that is a lot of
odd and     zany lines!


Hey,
look at this!

It is just as
wild   and crazy!

This long     string   works, too!

##### String Concatenation

In [87]:
first_name = "John"
last_name = "Smith"

full_name = first_name + " " + last_name
print(full_name)

# Short-hand version
full_name += " Jr"
print(full_name)

John Smith
John Smith Jr

In [88]:
first_name = "Tony"
last_name = "Campos"

full_name = first_name + " " + last_name
print(full_name)

full_name += " is a great student!"
print(full_name)

print(full_name[0:4])
print(full_name[::-1].title())
print(full_name[::2].title())
print(full_name[::-2].title())

Tony Campos
Tony Campos is a great student!
Tony
!Tneduts Taerg A Si Sopmac Ynot
Tn Apsi  Ra Tdn!
!Ndt Ar  Ispa Nt

In [89]:
word1='apple'
word2='orange'
word3='pear'
word4='pineapple'

print(word1, word2, word3, word4, 'bananna')
print(word1, word2, word3, word4, 'bananna', sep='+', end='&&&&&&')

apple orange pear pineapple bananna
apple+orange+pear+pineapple+bananna&&&&&&

In [90]:
print(print('Hello'))
#inside prints first
#outside says to print what was returned

#******Print always returns None******

Hello
None

##### Type Conversion

In [91]:
number = "32"

change_type_num = int(number)
print(number)
print(change_type_num)

32
32

In [92]:
num1=3
num2='4'

print(str(num1) + num2)
print(num1 + int(num2))

print(type(num2))
#int did not change the type!

34
7
<class 'str'>

In [94]:
int()
str()
list()
dict()
tuple()
set()
float()

# see Python built-in functions
# https://docs.python.org/3/library/functions.html

0.0

##### input()

In [96]:
# ****Input will always return a string ****-- All the time

# name = input('What is your name? ')

# print(name)

age = int(input("What is your age?: "))
print(age)
print(type(age))

add_age = age + 1
print(add_age)

What is your age?: 7
7
<class 'int'>
8

In [97]:
while True:
    age = (input("What is your age?: "))
    if age.isdigit():
        age = int(age)
        print("In one year, you will be ", age+1, " years old.")
        break
    else:
       print("You must input a number!")

What is your age?: 12
In one year, you will be  13  years old.

##### format()

In [98]:
age = input("What is your age? ")

result_string = "You are {}, {} and you are getting wiser!".format(age,name)
print(result_string)

result_again = f"{age} is a great time in life!!!"
print(result_again)

What is your age? 14
You are 14 Joel and you are getting wiser!
14 is a great time in life!!!

##### Old Way (python 2)

In [101]:
age = '35'
#result_str = "You are $s years old and getting wiser" $age

In [102]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

You are 35 and you look great for your age!

### f-string

In [103]:
age = int(input("What is your age? "))
x=123

result_string = "You are {} years old, and you are getting wiser!".format(age)
print(result_string)

What is your age? 67
You are 67 years old, and you are getting wiser!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [104]:
#OUTPUT:  The car's color is blue, the year is 2019, make is honda, and model is CR-V

year = input("What year is your car?: ")
color = input("What color is your car?: ")
make = input("What make is your car?: ")
model = input("What model is your car?: ")
results = f"You drive a {year} {color} {make} {model}."
        
print(results)

What year is your car?: 1924
What color is your car?: blue
What make is your car?: Chevrolet
What model is your car?: Superior
You drive a 1924 blue Chevrolet Superior.

In [108]:

year = input("What year is your car?: ")
if not year.isdigit():
    print("You must input a number.")
    #continue
else:
    color = input("What color is your car?: ")
    make = input("What make is your car?: ")
    model = input("What model is your car?: ")
    results = "You drive a {} {} {} {}.".format(year, color, make, model)

    print(results)
        

    
#****Working on getting the digit cycle functioning****
# How do I get this to cycle back to the start?

What year is your car?: 1924
What color is your car?: red
What make is your car?: Cadillac
What model is your car?: Phaeton
You drive a 1924 red Cadillac Phaeton.

### If Statements

In [109]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

In [110]:
5 == 5
bool('hello') #true
bool("") #false
bool(0) #false
bool(1) #true
bool(-99) #true
bool(99) #true
bool([1,2,3]) #true
bool([]) #false

5<2 #true
5<5 #false
5<=5 #true
7>5 #true
4!=5 #true
"hello" == 'hello' #true
"A">"a" #false
"a"> "A" #true

True

In [111]:
ord("A")

65

In [112]:
ord('a')

97

In [113]:
ord('z')

122

In [114]:
ord("Z")

90

In [115]:
chr(66)

'B'

In [116]:
chr(121)

'y'

In [117]:
num1 = 5
num2 = 10

print("Start of stuff")
if num2 == num1:
    print('Equal')
else:
    print("not equal")
    
if num2 >= num1:
    print("Num2 is greater")
elif num1 <= num2:
    print("Num1 is less than")

Start of stuff
not equal
Num2 is greater

In [118]:
num1 = 5
num2 = 10

if num2 == num1:
    print('Equal')
elif num1 < num2:
    print("Num1 is less than Num2")
else:
    print("Num2 is greater than Num1")

Num1 is less than Num2

In [119]:
# Inline If Statements (one line) - Ternary Operators

name = "John"
age = 33 if name == "John" else 99
print(age)

name = "Peter"
age = 33 if name == "John" else 99
print(age)

33
99

In [120]:
age = 0
name = "John"
age = 33 if name == "John" else 99
print(age)

age = 0
if name == "John":
    age = 33
elif name == "Steve":
    age = 99
    
print(age)

33
33

In [121]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

True and True #True
True and False #False
True and False and True #False
# and says if there is a false, all is false

True or True #True
True or False #True
True or False or False or False #True
# or says there is one True

5==5 and 6==6

True

In [122]:
test = [1,2]

if True or test[3]:
    print('This is False1.')

#short-circuiting:

if False and test[3]:
    print('This is False2.')

This is False1.

##### 'is' keyword

In [123]:
# use this ONLY with none 
# this checks memory location

my_var = None

if my_var is None:
    print("It's none.")

It's none.

"asad" is "asad"

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\danan\AppData\Local\Temp\ipykernel_5084\4285936320.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  "asad" is "asad

# use the "is" keyword when checking for same/similar object, NOT same value
num3 = 55

if num3 is 55:
    print("This is the exact number/object")
    
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\danan\AppData\Local\Temp\ipykernel_20772\2440110197.py:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

In [125]:
x = 'as'
y = 'as'

x is y

True

In [126]:
list1 = [1,2,3]
list2 = [1,2,3]
list3 = list1
#copy list3 = list1[:]

if list1 == list2:
    print("list1 is equal to list2")
else:
    print("list1 is NOT equal to list2")
    
if list1 is list2:
    print("list1 is equal to list2")
else:
     print("list1 is NOT equal to list2")
        

if list1 == list3:
    print("list1 is equal to list3")
else:
    print("list1 is NOT equal to list3")
    
if list1 is list3:
    print("list1 is equal to list3")
else:
     print("list1 is NOT equal to list3")
        
list3.append(99)
print(list3)
print(list1)
print(list2)

list1 is equal to list2
list1 is NOT equal to list2
list1 is equal to list3
list1 is equal to list3
[1, 2, 3, 99]
[1, 2, 3, 99]
[1, 2, 3]

##### 'in' keyword

In [127]:
# Membership Check!

In [128]:
# Check if char in name
char_name = "Max Payne"

if "Max" in char_name:
    print("The character who lost everything...!!")

The character who lost everything...!!

In [129]:
classmates = ["Tony", "Caleb", "Lizzette" ]

if "Tony" in classmates:
    print("Is in my class.")

Is in my class.

##### 'not in' keyword'

In [132]:
classmates = ["Tony", "Caleb", "Lizzette" ]

if "Tony" not in classmates:
    print("Is NOT in my class.")
else:
    print("IS in my class.")

IS in my class.

In [133]:
sega_char = "Sonic"

if 'a' not in sega_char:
    print("a is NOT here...")

a is NOT here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [136]:
# OUTPUT: True -- if p is found
# False -- if p is NOT found

name = input("What is your name? ")
result_name = "Your name is {}.".format(name)

if 'p' not in name.lower():
    print("P is NOT found.")
else:
    print(result_name)

# Review f function!!!

What is your name? Arthur
P is NOT found.

In [138]:
# Kevin's solution
name = input("What is your name? ")
if 'p' in name.lower():
    print("P is in the name.")
else:
    print("P is NOT in the name.")

What is your name? Perpendicular
P is in the name.

In [139]:
#Ternary
# NOT WORK:if 'p' in input("What is your name?").lower(): print("P is in the name.") else: print("P is NOT in the name.")

print("P is in the name.") if 'p' in input ("What is your name? ").lower() else print("P is NOT in the name.")

What is your name? Peter
P is in the name.

In [140]:
street=input("Where do you live?")
result_string = "You live on {} street.".format(street)
print(result_string)

if 'p' not in street:
    print("p is NOT here...")

Where do you live?ON the Street Where You Live
You live on ON the Street Where You Live street.
p is NOT here...

## Using 'and'/'or' with If Statements

In [141]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

# If with "and" statment
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True and True")
    
# If with "or" statement
if num_11 > num_12 or num_13 == num_14:
    print("True and False")

True and True
True and False

### Elif Statements

In [142]:
first_name = "Max"

if first_name == 'Smith':
    print("The name is Smith")
elif first_name != 'Max':
    print("The name is NOT Max")
else:
    print("The name is Max")

The name is Max

### Else Statements

In [143]:
# see above

### For Loops

In [144]:
# for keyword, counter, in keyword, condition

# for [placeholder] in [iterable]

# for i in range(10):
#     print(i)
    
name = "Joel Carter"

for letter in name:
    print(letter)
    
for i in range(len(name)):
    print(name[i])

J
o
e
l

C
a
r
t
e
r
J
o
e
l

C
a
r
t
e
r

In [147]:
output = []
for i in range(len(name)):
    output.append(name[i])
    i+= 1
    print(output)

['J']
['J', 'o']
['J', 'o', 'e']
['J', 'o', 'e', 'l']
['J', 'o', 'e', 'l', ' ']
['J', 'o', 'e', 'l', ' ', 'C']
['J', 'o', 'e', 'l', ' ', 'C', 'a']
['J', 'o', 'e', 'l', ' ', 'C', 'a', 'r']
['J', 'o', 'e', 'l', ' ', 'C', 'a', 'r', 't']
['J', 'o', 'e', 'l', ' ', 'C', 'a', 'r', 't', 'e']
['J', 'o', 'e', 'l', ' ', 'C', 'a', 'r', 't', 'e', 'r']
['J', 'o', 'e', 'l', ' ', 'C', 'a', 'r', 't', 'e', 'r']

In [148]:
print(output)

['J', 'o', 'e', 'l', ' ', 'C', 'a', 'r', 't', 'e', 'r']

In [149]:
name = "Connor"
print("Yo Yo Yo")
for letter in name:
    print('*')
    print(letter)
    print('$')
print('Meh')

Yo Yo Yo
*
C
$
*
o
$
*
n
$
*
n
$
*
o
$
*
r
$
Meh

##### Using 'in' keyword

In [150]:
# see above
my_list = ['tacos', 123, 123.5, [3,4,5], {"key":"value"}]

for thing in my_list:
    print(thing)
    print(type(thing))

tacos
<class 'str'>
123
<class 'int'>
123.5
<class 'float'>
[3, 4, 5]
<class 'list'>
{'key': 'value'}
<class 'dict'>

In [151]:
new_list = [8,99,201]

for n in new_list:
    print(n+2)

10
101
203

In [152]:
myclass = ["Diana", "Gulfem", "Perry", "Caleb"]

print(myclass[2])
print(myclass[-1])
print(myclass[-2])
print(myclass[0])
print(myclass[1])

Perry
Caleb
Perry
Diana
Gulfem

In [153]:
len(myclass)

4

In [154]:
list(range(4))

[0, 1, 2, 3]

In [155]:
# Access by Index

for index in range(len(myclass)):
    print(index)
    print(myclass[0:4])

0
['Diana', 'Gulfem', 'Perry', 'Caleb']
1
['Diana', 'Gulfem', 'Perry', 'Caleb']
2
['Diana', 'Gulfem', 'Perry', 'Caleb']
3
['Diana', 'Gulfem', 'Perry', 'Caleb']

In [156]:
 for index in range(len(myclass)):
        print(myclass[index])

Diana
Gulfem
Perry
Caleb

In [157]:
# index and object at same time

enumerate(myclass)
list(enumerate(myclass)) # result is a TUPLE

[(0, 'Diana'), (1, 'Gulfem'), (2, 'Perry'), (3, 'Caleb')]

In [158]:
a,b=(1,2)
print(a)
print(b)

1
2

In [159]:
for index, name in enumerate(myclass):
    print(name, "is at index:", index)

Diana is at index: 0
Gulfem is at index: 1
Perry is at index: 2
Caleb is at index: 3

In [160]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

##### Continue Statement

In [161]:
# will continue to next iteration

In [162]:
myclass = ["Connor", "Caleb", "Perry", "Tony", "Lizzette", "Carol"]

for index, name in enumerate(myclass):
    if name[0].lower() == 'c':
        print(name, "starts with 'c'.")
        continue #means to stop looking at the first and go back up to the next.
        print("The index for you is", index, '\n')
    else:
        print(f"{name} is just as cool as the others.\n")

Connor starts with 'c'.
Caleb starts with 'c'.
Perry is just as cool as the others.

Tony is just as cool as the others.

Lizzette is just as cool as the others.

Carol starts with 'c'.

In [163]:
mylist = [5,4,3,2,1]

for n in mylist:
    if n <4:
        print(n)
        continue
    print("Hey, you are here!")

Hey, you are here!
Hey, you are here!
3
2
1

In [164]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [165]:
# will break out of current loop

In [166]:
myclass = ["Connor", "Caleb", "Perry", "Tony", "Lizzette", "Carol"]

for index, name in enumerate(myclass):
    if name[0].lower() == 'c':
        print(name, "starts with 'c'.")
        break #stop!
        print("The index for you is", index, '\n')
    else:
        print(f"{name} is just as cool as the others.\n")

Connor starts with 'c'.

In [167]:
mylist = [5,4,3,2,1]

for n in mylist:
    if n <4:
        print(n)
        break
    print("Hey, you are here!")

Hey, you are here!
Hey, you are here!
3

In [168]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [169]:
# mostly used as a placeholder, and will continue on same iteration

In [170]:
for i in name:
    pass # TODO: COME BACK AND FINISH IMPLEMENTATION

In [171]:
if True:
    pass
print('hello')

hello

##### Double For Loops

In [172]:
counter=0
for i in range(5):
    for j in range(5):
        counter += 1
        print(f"i={i} j={j} and total={counter}")

i=0 j=0 and total=1
i=0 j=1 and total=2
i=0 j=2 and total=3
i=0 j=3 and total=4
i=0 j=4 and total=5
i=1 j=0 and total=6
i=1 j=1 and total=7
i=1 j=2 and total=8
i=1 j=3 and total=9
i=1 j=4 and total=10
i=2 j=0 and total=11
i=2 j=1 and total=12
i=2 j=2 and total=13
i=2 j=3 and total=14
i=2 j=4 and total=15
i=3 j=0 and total=16
i=3 j=1 and total=17
i=3 j=2 and total=18
i=3 j=3 and total=19
i=3 j=4 and total=20
i=4 j=0 and total=21
i=4 j=1 and total=22
i=4 j=2 and total=23
i=4 j=3 and total=24
i=4 j=4 and total=25

In [173]:
counter=0
for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [175]:
# while [Boolean] - until condition changes from True to False
# while keyword, condition statement
# based on the conditional Statement

num = 0
while num < 10:
    num += 1
    print(num)

1
2
3
4
5
6
7
8
9
10

In [176]:
#Infinite Loop
# Don't DO THIS!!!!!

#num = 0
#while num < 10:
    #print(num)
    #num += 1

##### Looping 'While True'

In [177]:
x=0
while True:
    print('hello')
    x+=1
    if x==5:
        break

hello
hello
hello
hello
hello

In [178]:
while True:
    user_input= input("What do you want to do? Quit or Continue? ")
    if user_input.lower() == 'quit':
        break
    elif user_input.lower() == 'continue':
        continue
    print("That was not a choice.")
print("Game Over")

What do you want to do? Quit or Continue? continue
What do you want to do? Quit or Continue? jiipqitre
That was not a choice.
What do you want to do? Quit or Continue? quit
Game Over

In [179]:
game_over = False

while True:
    print("Infinite Loop")
    if game_over == False:
        break

Infinite Loop

##### While & For Loops Used Together

In [180]:
num = 0
total = 0

while num < 5:
    print("\n While Loop Iteration: ", num)
    for i in range(5):
        total +=1
        print("For Loop Iteration: ", i)
        print("Total times loop ran", total)
        
    num += 1

 While Loop Iteration:  0
For Loop Iteration:  0
Total times loop ran 1
For Loop Iteration:  1
Total times loop ran 2
For Loop Iteration:  2
Total times loop ran 3
For Loop Iteration:  3
Total times loop ran 4
For Loop Iteration:  4
Total times loop ran 5

 While Loop Iteration:  1
For Loop Iteration:  0
Total times loop ran 6
For Loop Iteration:  1
Total times loop ran 7
For Loop Iteration:  2
Total times loop ran 8
For Loop Iteration:  3
Total times loop ran 9
For Loop Iteration:  4
Total times loop ran 10

 While Loop Iteration:  2
For Loop Iteration:  0
Total times loop ran 11
For Loop Iteration:  1
Total times loop ran 12
For Loop Iteration:  2
Total times loop ran 13
For Loop Iteration:  3
Total times loop ran 14
For Loop Iteration:  4
Total times loop ran 15

 While Loop Iteration:  3
For Loop Iteration:  0
Total times loop ran 16
For Loop Iteration:  1
Total times loop ran 17
For Loop Iteration:  2
Total times loop ran 18
For Loop Iteration:  3
Total times loop ran 19
For Loop Iteration:  4
Total times loop ran 20

 While Loop Iteration:  4
For Loop Iteration:  0
Total times loop ran 21
For Loop Iteration:  1
Total times loop ran 22
For Loop Iteration:  2
Total times loop ran 23
For Loop Iteration:  3
Total times loop ran 24
For Loop Iteration:  4
Total times loop ran 25

### Built-In Functions

dir()

##### range()

In [181]:
#Start, Stop, Step
for i in range(2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

##### len()

In [182]:
# check Length of variable
name = "Max "

length = len(name)
print(length)

4

##### help()

In [183]:
# Use this function to view more info about a python function (With a DOCSTRING)
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [184]:
# Check a variable to find out what Object family it belongs to
# isinstace(var, type)

print(isinstance(4.5,int))

if isinstance(4.5,float):
    print("This number is a float type")

False
This number is a float type

In [185]:
isinstance('cow', int)

False

In [186]:
isinstance('cow', str)

True

##### abs()

In [187]:
# = absolute distance from 0
# format: | 5 |  |-5|

print(abs(-5))
print(abs(5))

5
5

! - bang, exclamation point
# - pound sign, hash/hashtag, octothorpe
[] - brackets, square bracket
() - parans, parathesis l/r paran
{} - Braces, curly brackets , or Squiggles
#! - shebang
% - grapes, percent, mod
@ - at symbol 
* = star, splat or asterisk

<> - angle brackets / greater than/less than ... Wakka /Wakka Wakka

Poem:
    Waka waka bang splat tick tick hash,
Caret quote back-tick dollar dollar dash,
Bang splat equal at dollar under-score,
Percent splat waka waka tilde number four,
Ampersand bracket bracket dot dot slash,
Vertical-bar curly-bracket comma comma CRASH!

https://www.shellscript.sh/tips/waka/

### Try and Except

In [188]:
# Use whenever you expect to encounter a bug so that the error doesn't cause the program to stop
# Use so that you can log out graceful and useful error messages
# Don't have to have a finally

# Use this to prevent known user-errors

try:
    number_test = 0
    input_num = int(input('Guess a Number '))
    if input_num != number_test:
        input_num = input_num + number_test
        print("Your Number is: " + str(input_num))
except:
    print('That did not work ---- ERROR: Change your input to a number')

Guess a Number 12
Your Number is: 12

In [189]:
try:
    int("Steve")
except:
    print("Can't divide by 0!")
finally:
    print("Okay, move along, now.")

Can't divide by 0!
Okay, move along, now.

In [190]:
try:
    int("Steve")
except ZeroDivisionError:
    print("Can't divide by 0!")
except ValueError:
    print("Can't convert a string.")
finally:
    print("Okay, move along, now.")

Can't convert a string.
Okay, move along, now.

In [191]:
try:
    5/0
    print("Hey, it worked!")
except ZeroDivisionError:
    print("Can't divide by 0!")
except ValueError:
    print("Can't convert a string.")
finally:
    print("Okay, move along, now.")

Can't divide by 0!
Okay, move along, now.

In [192]:
try:
    int(123)
except:
    print("Can't divide by 0!")
finally:
    print("Okay, move along, now.")

Okay, move along, now.

In [60]:
def divide[n1, n2]:
    if n2 == 0:
        raise ZeroDivisionError('You hockeypuck! You can\'t divide by zero.')
    print(n1/n2)
    
divide(2,0)

SyntaxError: invalid syntax (4027387752.py, line 1)

### Lists

##### Declaring Lists

In [193]:
l_1 = [] # Empty List Declaration

names = ['Max','Cindy','Kathy', "bob","Nate"]

print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate']

##### Indexing a List

In [194]:
# [start: stop: step] -- [-1]

#Single Index
print(names[0])

# Print starting at index 1 going to the end
print(names[1:])

#Print starting at beginning of list to N (n == the number we want to stop at)
print(names[:2])

# print starting at index 1 going up BY 2 in each iteration
print(names[1::2])

# print starting at the back and present in reverse order
print(names[::-1])

Max
['Cindy', 'Kathy', 'bob', 'Nate']
['Max', 'Cindy']
['Cindy', 'bob']
['Nate', 'bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [195]:
names.append('Joel')
print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate', 'Joel']

##### .insert()

In [196]:
# list.insert(index,value)

names.insert(3,"Gabby")
print(names)

['Max', 'Cindy', 'Kathy', 'Gabby', 'bob', 'Nate', 'Joel']

##### .pop()

In [197]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable

# my_name = names.pop()
# print(my_name)

print(names.pop(2))

Kathy


##### .remove()

In [198]:
# value to be removed , not index
# names.remove("Bob")
# print(names)

# remove multiple bobs out of list
while 'bob' in names:
    names.remove('bob')
print(names)

['Max', 'Cindy', 'Gabby', 'Nate', 'Joel']

##### del()

In [199]:
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully
del(names[1])
print(names)

['Max', 'Gabby', 'Nate', 'Joel']

##### Concatenating Two Lists

In [200]:
# will append two lists together, not add up the elements in each list

l_2 = [0,1,2]
l_3 = [3,4,5]

large_list = l_2 + l_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [201]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other

names = ["Max", "Sam","Josh",["Sally","Sue","Tameka"]]

print(names)
print(names[3][1])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
Sue

##### Looping Through Lists

In [202]:
# two ways to loop through a list, one is by index, the other is by using the 'in' keyword

# Loop with a for loop (By Index)
for i in range(len(names)):
    print(names[i])
    
# Loop with a for loop (Using the 'in' keyword)
for i in names:
    print(i)

Max
Sam
Josh
['Sally', 'Sue', 'Tameka']
Max
Sam
Josh
['Sally', 'Sue', 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [227]:
# First Attempt:

# list_num = []
# for n in range(0, 1001):  # 0 can be a perfect cube. 10**3 == 1,000, so the range is definitely less than 1,000!
#     list_num.append(n**3)
#     n += 1
    
# print(list_num) 

# Incorrect! 



# Second Attempt:

# list_num = []
# for n in range(0, 1001):  # 0 can be a perfect cube. 10**3 == 1,000, so the range is definitely less than 1,000!
#     if n**3 <= 1000: 
#         list_num.append(n**3)
#         n += 1
#        print(list_num) 

# Location of print matters!



# Third Attempt:

cubes = []
for n in range(0, 1001): # 0 can be a perfect cube. 10**3 == 1,000, so the range is definitely less than 1,000!
    if n**3 <= 1000: 
        cubes.append(n**3)
        n += 1
print(cubes) 

# I renamed this "cubes" after I decided to name the next one "primes"

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [7]:
# Primes Note:
# A prime is greater than one and divisible by itself and one ONLY (with nothing left, aka modulo)
# expected output to 100: 2,3,5,7,11,13,17,19,23,29,31,41,43,47,53,59,61,67,71,73,79,83,89,97
# 1 is sometimes considered prime, but not the norm

# HINT:
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break


# First Attempt:

# primes = []
# for n in range(2, 101):
#     if n / n == 1 and n % 1 == 0:  
#         primes.append(n)
#         n += 1
# print(primes) 


# Second Attempt:
# primes = []
# for n in range (1, 101): 
#     if n % 2 == 0 and n != n: 
#         if n % 1 == 0 and n / n == 1:
#             primes.append(n)
            
# print(primes)


# Third Attempt:
# I was playing with primes once...PREWORK!
# not counting one, here
# if num % n == 0 - duh, two different ones! I was also thinking backwards on this. 
    # If it's cleanly divisible by another number (modulo 0), then it can't be prime when we're starting with 2!

primes = []
def is_prime(num):
    for n in range(2, num): 
        if num % n == 0 and num / n != 1: 
            continue
        else: 
            primes.append(num)
            n += 1

print(primes)

# Stink! I'm still missing something. However, I like what I found below:

[]

In [9]:
#another solution from https://stackoverflow.com/questions/13326673/is-there-a-python-library-to-list-primes
# simple, elegant solution to use the built-in sympy code:

import sympy
list(sympy.primerange(1, 101))

# I prefer them in a straight list:
print(list(sympy.primerange(1, 101)))

ModuleNotFoundError: No module named 'sympy'

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [ ]:
# one input at a time means singular!
# This was the easiest one!

age = input("What is your age? ")
if int(age) < 18:
    print("kid")
elif int(age) >= 18 and int(age) < 65 or int(age) == 65:
    print("adult")
else:
    print("senior")
    
# 12 == kid
# 34 == adult
# 72 == senior

What is your age? 72
senior